Repository project-tech4dev/dbt-tech4dev: changes, and which pre-commit hooks are due for each by the changed paths.
All: dbt-osmosis-yaml-organize, dbt-osmosis-yaml-refactor

dbt-osmosis-yaml-organize:
  name: Organize dbt schema.yml files
  entry: dbt-osmosis
  args:
  - yaml
  - organize
  language: system

dbt-osmosis-yaml-refactor:
  name: Refactor and synthesize dbt model columns
  entry: dbt-osmosis
  args:
  - yaml
  - refactor
  - --synthesize
  language: system

fixed anomaly sensitivity
  models/schema.yml
Due: dbt-osmosis-yaml-organize

added yml files
  models/intermediate/dalgo/dalgo.yml
  models/intermediate/erp-common/_int_projects.yml
  models/intermediate/erp-common/_int_resource_time_allocation.yml
  models/intermediate/erp-common/_int_task_hierarchy.yml
  models/intermediate/erp-common/_int_tasks.yml
  models/intermediate/erp-common/erp-common.yml
  models/intermediate/zoho/zoho.yml
  models/production/common/common.yml
  models/production/dalgo/dalgo.yml
  models/production/erp-common/_projects.yml
  models/production/erp-common/_resource_allocation_metrics.yml
  models/production/erp-common/_task_hierarchy.yml
  models/production/erp-common/aggregated/aggregated.yml
  models/production/erp-common/erp-common.yml
  models/production/erp-common/resource_time_allocation.yml
  models/production/zoho/zoho.yml
  models/schema.yml
Due: dbt-osmosis-yaml-organize

added all yml
  extract_schema.py
  generate_columns.py
  models/intermediate/dalgo/dalgo.yml
  models/intermediate/erp-common/erp-common.yml
  models/intermediate/zoho/zoho.yml
  models/production/common/common.yml
  models/production/dalgo/dalgo.yml
  models/production/erp-common/aggregated/aggregated.yml
  models/production/erp-common/erp-common.yml
  models/production/zoho/zoho.yml
  models/schema.yml
Due: dbt-osmosis-yaml-organize

deleted unncessary file
  extract_schema.py
  generate_columns.py
Due: none

Update erp-common.yml
  models/intermediate/erp-common/erp-common.yml
Due: dbt-osmosis-yaml-organize

fixed dupliated model definition
  models/production/erp-common/erp-common.yml
Due: dbt-osmosis-yaml-organize

Update int_opportunities.sql
  models/intermediate/erp-common/int_opportunities.sql
Due: dbt-osmosis-yaml-refactor

Added ageing
  models/production/erp-common/sales_invoice.sql
Due: dbt-osmosis-yaml-refactor

Update sales_invoice.sql
  models/production/erp-common/sales_invoice.sql
Due: dbt-osmosis-yaml-refactor

Added tags, changed dalgo consulting model location
  models/intermediate/dalgo/dalgo.yml
  models/intermediate/dalgo/int_consulting_time_clean.sql
  models/intermediate/dalgo/int_consulting_time_raw.sql
Due: dbt-osmosis-yaml-organize, dbt-osmosis-yaml-refactor

format fixes - dalgo
  models/intermediate/dalgo/int_consulting_time_clean.sql
  models/intermediate/dalgo/int_consulting_time_raw.sql
Due: dbt-osmosis-yaml-refactor

Fixed NPS survey when multiple people in same org submit in same survey cycle
  models/intermediate/erp-common/erp-common.yml
  models/intermediate/erp-common/int_nps_survey.sql
  models/production/erp-common/aggregated/kpi_nps_survey.sql
  packages.yml
Due: dbt-osmosis-yaml-organize, dbt-osmosis-yaml-refactor

Update package-lock.yml
  package-lock.yml
Due: none

fixe dpromoters logic
  models/production/erp-common/aggregated/kpi_nps_survey.sql
Due: dbt-osmosis-yaml-refactor

dalgo consulting - code fix
  models/intermediate/dalgo/int_consulting_time_clean.sql
Due: dbt-osmosis-yaml-refactor

Added cumulative metric
  models/production/erp-common/aggregated/kpi_projects.sql
Due: dbt-osmosis-yaml-refactor

bizdev- give.do NGO scrap results - prod model
  models/production/Bizdev/ngo_combined.sql
  models/sources/sources.yml
Due: dbt-osmosis-yaml-organize, dbt-osmosis-yaml-refactor

bizdev - give.do NGO research - prod models
  models/production/Bizdev/ngo_combined.sql
  models/production/Bizdev/ngo_research.sql
  models/production/Bizdev/ngo_research_causes.sql
  models/production/Bizdev/ngo_research_states.sql
Due: dbt-osmosis-yaml-refactor

dalgo consulting updates
  models/intermediate/dalgo/int_consulting_time_clean.sql
  models/intermediate/dalgo/int_consulting_time_raw.sql
  models/intermediate/dalgo/int_consulting_tracker.sql
  models/production/dalgo/consulting_tracker.sql
Due: dbt-osmosis-yaml-refactor

updated consulting budget
  .gitignore
  models/intermediate/dalgo_consulting_budget.sql
  models/sources/sources.yml
Due: dbt-osmosis-yaml-organize, dbt-osmosis-yaml-refactor

trust activity
  models/intermediate/trust_activity_cleaned.sql
  models/sources/sources.yml
Due: dbt-osmosis-yaml-organize, dbt-osmosis-yaml-refactor

updates to model
  models/intermediate/trust_activity_cleaned.sql
Due: dbt-osmosis-yaml-refactor

Path conditions:
  dbt-osmosis-yaml-organize: any of: ^models/ and \.(yaml|yml)$
  dbt-osmosis-yaml-refactor: any of: ^models/ and \.sql$
