Repository project-tech4dev/dbt-tech4dev: changes, and which pre-commit hooks are due for each by the changed paths.
All: dbt-osmosis-yaml-organize, dbt-osmosis-yaml-refactor

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dbt-osmosis-yaml-organize
        name: Organize dbt schema.yml files
        entry: dbt-osmosis
        args: ["yaml", "organize"]
        language: system
        types: [yaml]
        files: ^models/

      - id: dbt-osmosis-yaml-refactor
        name: Refactor and synthesize dbt model columns
        entry: dbt-osmosis
        args: ["yaml", "refactor", "--synthesize"]
        language: system
        types: [sql]
        files: ^models/
      
      - id: dbt-coverage-test
        name: Run dbt-coverage test
        entry: dbt-coverage
        args: ["compute", "test", "--cov-report", "coverage-test.json"]
        language: system
        pass_filenames: false

Create LICENSE
  LICENSE
Due: none

updated schema
  dbt_project.yml
  models/intermediate/int_task_hierarchy.sql
  models/production/prod_task_hierarchy.sql
  models/staging/stg_projects.sql
  models/staging/stg_tasks.sql
Due: dbt-osmosis-yaml-refactor

updated schema
  README.md
Due: none

added resource time allocation
  models/production/prod_resource_allocation_metrics.sql
  models/schema.yml
  models/staging/stg_resource_time_allocation.sql
Due: dbt-osmosis-yaml-organize, dbt-osmosis-yaml-refactor

adding new fields to porjects and created production table
  models/intermediate/int_projects.sql
  models/production/projects.sql
  models/staging/stg_projects.sql
Due: dbt-osmosis-yaml-refactor

fixed file names
  models/production/resource_allocation_metrics.sql
  models/production/task_hierarchy.sql
Due: dbt-osmosis-yaml-refactor

fixed field name
  models/staging/stg_projects.sql
Due: dbt-osmosis-yaml-refactor

added models.yml
  .gitignore
  dbt_project.yml
  models/intermediate/_int_projects.yml
  models/intermediate/_int_task_hierarchy.yml
  models/production/_projects.yml
  models/production/_resource_allocation_metrics.yml
  models/production/_task_hierarchy.yml
  models/schema.yml
  models/staging/_stg_projects.yml
  models/staging/_stg_resource_time_allocation.yml
  models/staging/_stg_tasks.yml
Due: dbt-osmosis-yaml-organize

changed the name back
  models/staging/stg_projects.sql
Due: dbt-osmosis-yaml-refactor

fixed heirarchy
  models/intermediate/erp-common/int_projects.sql
  models/intermediate/erp-common/int_task_hierarchy.sql
  models/production/erp-common/projects.sql
  models/production/erp-common/resource_allocation_metrics.sql
  models/production/erp-common/task_hierarchy.sql
  models/staging/erp-common/stg_projects.sql
  models/staging/erp-common/stg_resource_time_allocation.sql
  models/staging/erp-common/stg_tasks.sql
Due: dbt-osmosis-yaml-refactor

heirarchy fix
  models/intermediate/erp-common/_int_projects.yml
  models/intermediate/erp-common/_int_task_hierarchy.yml
  models/production/erp-common/_projects.yml
  models/production/erp-common/_resource_allocation_metrics.yml
  models/production/erp-common/_task_hierarchy.yml
  models/staging/erp-common/_stg_projects.yml
  models/staging/erp-common/_stg_resource_time_allocation.yml
  models/staging/erp-common/_stg_tasks.yml
Due: dbt-osmosis-yaml-organize

fixed start and end dates as string
  models/intermediate/erp-common/int_projects.sql
Due: dbt-osmosis-yaml-refactor

fixed stg references
  models/intermediate/erp-common/_int_resource_time_allocation.yml
  models/intermediate/erp-common/_int_tasks.yml
  models/intermediate/erp-common/int_resource_time_allocation.sql
  models/intermediate/erp-common/int_task_hierarchy.sql
  models/intermediate/erp-common/int_tasks.sql
  models/production/erp-common/resource_allocation_metrics.sql
  models/production/erp-common/task_hierarchy.sql
  models/staging/erp-common/_stg_projects.yml
  models/staging/erp-common/schema.yml
  models/staging/erp-common/stg_projects.sql
  models/staging/stg_projects.sql
Due: dbt-osmosis-yaml-organize, dbt-osmosis-yaml-refactor

update generate schema
  macros/generate_schema_name.sql
Due: none

added production resource time allocation models
  models/production/erp-common/resource_time_allocation.sql
  models/production/erp-common/resource_time_allocation.yml
Due: dbt-osmosis-yaml-organize, dbt-osmosis-yaml-refactor

added predecessor
  models/intermediate/erp-common/int_task_hierarchy.sql
  models/intermediate/erp-common/int_tasks.sql
  models/production/erp-common/task_hierarchy.sql
Due: dbt-osmosis-yaml-refactor

added monthly digest
  models/intermediate/erp-common/int_monthly_digest.sql
  models/production/erp-common/monthly_digest.sql
  models/staging/erp-common/schema.yml
Due: dbt-osmosis-yaml-organize, dbt-osmosis-yaml-refactor

added monthly digest
  models/intermediate/erp-common/int_projects.sql
  models/intermediate/erp-common/int_task_hierarchy.sql
  models/intermediate/erp-common/int_tasks.sql
  models/production/erp-common/projects.sql
  models/production/erp-common/task_hierarchy.sql
Due: dbt-osmosis-yaml-refactor

resource hours by porject
  models/intermediate/erp-common/int_resource_allocation.sql
  models/production/erp-common/resource_allocation.sql
  models/staging/erp-common/schema.yml
Due: dbt-osmosis-yaml-organize, dbt-osmosis-yaml-refactor

skipping cancelled
  models/intermediate/erp-common/int_resource_allocation.sql
Due: dbt-osmosis-yaml-refactor

added date range
  models/production/erp-common/projects.sql
Due: dbt-osmosis-yaml-refactor

added project owner and docus areas
  .gitignore
  models/intermediate/erp-common/int_projects.sql
  models/staging/erp-common/schema.yml
Due: dbt-osmosis-yaml-organize, dbt-osmosis-yaml-refactor

updated monthly digest
  models/intermediate/erp-common/int_monthly_digest.sql
  models/production/erp-common/monthly_digest.sql
Due: dbt-osmosis-yaml-refactor

updated project name
  models/intermediate/erp-common/int_monthly_digest.sql
Due: dbt-osmosis-yaml-refactor

added dbt models for zoho and dalgo consulting
  models/intermediate/dalgo/int_consulting_tracker.sql
  models/intermediate/dalgo/int_support_issues.sql
  models/intermediate/zoho/int_campaign_recipients.sql
  models/intermediate/zoho/int_campaign_reports.sql
  models/intermediate/zoho/int_campaigns.sql
  models/intermediate/zoho/int_mailing_lists.sql
  models/production/dalgo/consulting_tracker.sql
  models/production/dalgo/support_issues.sql
  models/production/zoho/campaign_metrics_per_newsletter.sql
  models/production/zoho/mailing_lists.sql
  models/production/zoho/newsletter_contact_summary.sql
  models/schema.yml
Due: dbt-osmosis-yaml-organize, dbt-osmosis-yaml-refactor

removing submitted row logic as doctype has been fixed
  models/intermediate/erp-common/int_monthly_digest.sql
Due: dbt-osmosis-yaml-refactor

added dalgo linkedin models
  models/intermediate/dalgo/int_consulting_tracker.sql
  models/intermediate/dalgo/int_linkedin_follower_count.sql
  models/intermediate/dalgo/int_linkedin_follower_statistics.sql
  models/intermediate/dalgo/int_linkedin_org_lookup.sql
  models/intermediate/dalgo/int_linkedin_share_statistics.sql
  models/intermediate/dalgo/int_support_issues.sql
  models/production/dalgo/linkedin_stats.sql
  models/schema.yml
Due: dbt-osmosis-yaml-organize, dbt-osmosis-yaml-refactor

fixe date and text columns to fit normal expectations
  models/intermediate/erp-common/int_projects.sql
Due: dbt-osmosis-yaml-refactor

Update int_projects.sql
  models/intermediate/erp-common/int_projects.sql
Due: dbt-osmosis-yaml-refactor

Update projects.sql
  models/production/erp-common/projects.sql
Due: dbt-osmosis-yaml-refactor

Added date spining and initial KPIs
  models/production/common/calendar.sql
  models/production/erp-common/aggregated/kpi_projects.sql
  models/production/erp-common/monthly_digest.sql
Due: dbt-osmosis-yaml-refactor

added financials
  models/intermediate/erp-common/int_fcxo_budget_actuals.sql
  models/production/erp-common/aggregated/kpi_financials.sql
  models/schema.yml
  packages.yml
Due: dbt-osmosis-yaml-organize, dbt-osmosis-yaml-refactor

cleaned up revenue models to generic product type if others wnat to use it
  dbt_project.yml
  models/intermediate/erp-common/int_budget_actuals.sql
  models/intermediate/erp-common/int_projects.sql
  models/intermediate/erp-common/int_sales_invoice.sql
  models/production/erp-common/aggregated/kpi_financials.sql
  models/schema.yml
Due: dbt-osmosis-yaml-organize, dbt-osmosis-yaml-refactor

added sales invoices
  models/intermediate/erp-common/int_sales_invoice.sql
  models/production/erp-common/sales_invoice.sql
Due: dbt-osmosis-yaml-refactor

updated new tables
  models/intermediate/erp-common/int_opportunities.sql
  models/production/erp-common/aggregated/kpi_opportunities.sql
  models/production/erp-common/opportunities.sql
  models/schema.yml
Due: dbt-osmosis-yaml-organize, dbt-osmosis-yaml-refactor

added nps survey results
  models/production/erp-common/aggregated/kpi_nps_survey.sql
  models/schema.yml
Due: dbt-osmosis-yaml-organize, dbt-osmosis-yaml-refactor

added dates now
  models/production/erp-common/aggregated/kpi_nps_survey.sql
  models/production/erp-common/aggregated/kpi_opportunities.sql
Due: dbt-osmosis-yaml-refactor

added conditional for most recent report and also status of porject in monthly digest prod table
  models/intermediate/erp-common/int_monthly_digest.sql
  models/production/erp-common/monthly_digest.sql
Due: dbt-osmosis-yaml-refactor
